<div class="about">


<h2>About Us</h2>

All creatures feel fear. Especially the scary ones.
<br>
The first time I stole so that I wouldn't starve, yes. I lost many assumptions about the simple nature of right and wrong. And when I traveled I learned the fear before a crime and the thrill of success. But I never became one of them.
<br>
I had a vision of a world without Batman. The Mob ground out a little profit and the police tried to shut them down one block at a time. And it was so boring. I've had a change of heart. I don't want Mr Reese spoiling everything but why should I have all the fun? Let's give someone else a chance. If Coleman Reese isn't dead in 60 minutes then I blow up a hospital.
<br>
Take a look, his speed, his ferocity, his training. I see the power of belief. I see the League of Shadows resurgent.
<br>
Just you, sir? Don't worry, Master Wayne. It takes a little time to get back in the swing of things.
<br>
Yes. The fire rises.
<br>
There is a prison in a more ancient part of the world. A pit where men are thrown to suffer and die. But sometimes a man rises from the darkness. Sometimes, the pit sends something back.
</div>
