<div class="add">
  <h2>Add A New Running Group</h2>

    <form action="/groups" method="post">

      <label for="">Group Name</label>
        <input placeholder="required" type="text" name="name">
        <br>

      <label for="">City</label>
        <input placeholder="required" type="text" name="city">
        <br>

      <label for="">Meeting Point</label>
        <input placeholder="required" type="text" name="meeting_point">
        <br>

      <label for="">Day & Time</label>
        <input placeholder="Day, start & end time"type="text" name="day_time">
        <br>

      <label for="">Contact</label>
        <input placeholder="Name, mobile number"type="text" name="contact">
        <br>

      <label for="">Link to Photo</label>
        <input type="text" name="photo">
        <br>

      <label for="">Group Info</label>
        <textarea placeholder="Please include any requirements, pace groups, following social activities" name="info" rows="6" cols="40" wrap="soft"></textarea>
        <br>
      <button>Add Group</button>

    </form>

</div>
