<div class="signuphere">
  <% if !logged_in? %>
  <p>Not Registered? </p><a href="/signup">Sign Up Here</a>
  <% end %>
</div>


<main class="grid">
  <% @groups.each do |group| %>
    <article class="groups">
      <p>
        <a href="/groups/<%= group.id %>">
          <%= group.name %>
        </a>
      </p>
    </article>
  <% end %>
</main>
