<div class="login">

<h2>Login</h2>
    <p>User and password does not exist, try again</p>
    <form action="/session" method="post">
      <label for="user_name">Name</label>
        <input name="user_name" type="text">
      <br>
      <label for="user_email">Email</label>
        <input name="user_email" type="email">
      <br>
      <label for="password">Password</label>
        <input name="password" type="password">
      <br>
      <button>Ready to Run</button>
    </form>

</div>
