<h2>Sign Up</h2>
<div class="signup">
  <form action="/session" method="post">
    <label for="user_name">User Name</label>
      <input name="user_name" type="text">
      <br>
    <label for="user_email">Email</label>
      <input name="user_email" type="email">
      <br>
    <label for="password">Password</label>
      <input name="password" type="password">
      <br>
    <button>Sign Me Up</button>
  </form>
</div>
