* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

article {
  flex-basis: 30%;
  border: 1px solid lightgrey;
  margin: 10px;
  text-align: center;
  padding: 20px 0 20px 0;
}

article a {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 2em;
}

h1 {
 font-family: 'Black Ops One', cursive;
 font-size: 3em;
}
 h1 span {
  font-family: 'Black Ops One', cursive;
  font-size: 0.5em;
  font-weight: lighter;
}

nav {
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
  font-weight:
}

h2 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 2em;
}

h3 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 1em;
}

p {
  font-family: 'Metrophobic', sans-serif;
  font-size: 1em;
}

label, input {
  font-family: 'Metrophobic', sans-serif;
  font-size: 1em;
  padding: 2px;
}

textarea {
  font-family: 'Metrophobic', sans-serif;
  font-size: 1em;
}

a {
  font-family: 'Metrophobic', sans-serif;
  font-size: 1em;
  text-decoration: none;
  padding-right: 10px;
  margin: 6px 0px 6px 0px;
  cursor: pointer;
}

a:hover {
  color: royalblue;
  font-weight: bold;
}

td {
  font-family: 'Metrophobic', sans-serif;
  font-size: 1em;
  padding-right: 10px;
}

button, input {
  cursor: pointer;
  padding: 6px;
}


.add label {
  display: inline-block;
  text-align: right;
  width: 200px;
}

.update label {
  display: inline-block;
  text-align: right;
  width: 200px;
}

.signup label {
  display: inline-block;
  text-align: right;
  width: 200px;
}
.login label {
  display: inline-block;
  text-align: right;
  width: 200px;
}

.result {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid lightgrey;
  width: 50%;
  padding: 5px 0 10px 0;
}

.signuphere {
  text-align: right;
  margin-right: 100px;
}
